@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/bulma";


////////       SET VARIABLE      ////////////
$primary: red;
$info: orange;
$success: green;
$warning: blue;
$danger: indigo;
$light: lightgrey;
$dark: darkgrey;